doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title How to create Tabs
        link(rel="stylesheet", href="../css/main.css")
        script(src="../js/script.js" defer) 
    body 
        .tab 
            button.tablinks(onclick="openCity(envent, 'London')") London 
            button.tablinks(onclick="openCity(envent, 'Paris')") Paris 
            button.tablinks(onclick="openCity(envent, 'Tokyo')") Tokyo 
        #London.tabcontent
            h3 London 
            p London is the capital of England.
        #Paris.tabcontent 
            h3 Paris 
            p Paris is the capital of france.
        #Tokyo.tabcontent 
            h3 Tokyo
            p Tokyo is the capital of Japan.