body {
    font-family: Arial, Helvetica, sans-serif
}

.faq-heading {
    border-bottom: #777;
    padding: 20px 60px;
}


.hr-line {
    width: 60%;
    margin: auto;
}

.faq-page {
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    margin: auto;
    transition: 0.4s;
}

.faq-body {
    margin: auto;
    width: 50%;
    padding: 0 18px;
    background-color: white;
    display: none;
}

.active, .faq-page:hover {
    background-color: #f9f9f9;
}

.faq-page::after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
}

.active::after {
    content: '\2796';
}